/**
 * 个性推荐页面
 */

    /* -------轮播图------begin */
  .out {
    width: 800px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    /* background-color: #d57eeb; */
    }
  .out .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: #fccb90; */
  }
  .out .inner:hover ~ .arrow{
    display: flex;
  }
  .out .inner .img {
    width: 350px;
    height: 140px;
    position: absolute;
    transition: 0.8s;
  }
  .out .inner .img img {
    transform: translateX(-200px);
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }
  .out .arrow {
    display: none;
    text-align: center;
    font-size: 14px;
  }
  .out .arrow i {
    position: absolute;
    color: #fff;
    line-height: 30px;
    z-index: 9999;
    cursor: pointer;
    top: 45%;
    /*箭头边框*/
    background: rgba(67, 67, 67, 0.4);
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .out .arrow .left {
    left: 50px;
  }
  .out .arrow .right {
    right: 50px;
  }
  .out .button {
    width: 175px;
    height: 15px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
  }
  .out .button p {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    background-color: silver;
  }
  .out .button p:first-child {
    background-color: #e94242;
  }
  .out #last {
    transform: translateX(0);
    z-index: 9;
    opacity: 1;
  }
  .out #first {
    transform: translateX(250px) scale(1.3);
    z-index: 99;
    opacity: 1;
  }
  .out #second {
    transform: translateX(400px);
    z-index: 9;
    opacity: 1;
  }
  .out #left {
    transform: translateX(100px);
    z-index: 1;
    opacity: 0;
  }
  .out #right {
    transform: translateX(300px);
    z-index: 1;
    opacity: 0;
  }
  /* -------轮播图------end */

.recm-list {
    margin: 0 15px;
    margin-top: 20px;
}

.recm_list ul{
    display: flex;
    flex-wrap: wrap; /*自动换行*/
    justify-content: space-between;
}

.recm_list ul li {
   text-align: center;
   color: #434343;
   font-size: 14px;
}

.recm_list ul li span{
    display: block;
}

.recm_list ul li img{
    width: 140px;
    border-radius: 5px;
}

